<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>type_add</key>
    <string>一般</string>
	<key>type_big_0</key>
	<string>一般</string>
	<key>type_big_1</key>
	<string>一般</string>
    <key>type_big_2</key>
    <string>用餐</string>
    <key>type_big_3</key>
    <string>零食</string>
    <key>type_big_4</key>
    <string>交通</string>
    <key>type_big_5</key>
    <string>银行卡</string>
    <key>type_big_6</key>
    <string>购物</string>
    <key>type_big_7</key>
    <string>娱乐</string>
    <key>type_big_8</key>
    <string>家用</string>
    <key>type_big_9</key>
    <string>酒水</string>
    <key>type_big_10</key>
    <string>网购</string>
    <key>type_big_11</key>
    <string>鞋子</string>
    <key>type_big_12</key>
    <string>香水</string>
    <key>type_big_13</key>
    <string>丽人</string>
    <key>type_big_14</key>
    <string>看电影</string>
    <key>type_big_15</key>
    <string>转账</string>
    <key>type_big_16</key>
    <string>美食</string>
    <key>type_big_17</key>
    <string>运动</string>
    <key>type_big_18</key>
    <string>医疗</string>
    <key>type_big_19</key>
    <string>飞机</string>
    <key>type_big_20</key>
    <string>知识</string>
    <key>type_big_21</key>
    <string>烟</string>
    <key>type_big_22</key>
    <string>酒</string>
    <key>type_big_23</key>
    <string>相机</string>
    <key>type_big_24</key>
    <string>礼物</string>
    <key>type_big_25</key>
    <string>约会</string>
    <key>type_big_26</key>
    <string>宠物</string>
    <key>type_big_27</key>
    <string>服饰</string>
    <key>type_big_28</key>
    <string>日用品</string>
    <key>type_big_29</key>
    <string>蔬菜</string>
    <key>type_big_30</key>
    <string>幼儿</string>
    <key>type_big_31</key>
    <string>VISA</string>
    <key>type_big_32</key>
    <string>音乐</string>
    <key>type_big_33</key>
    <string>维修</string>
    <key>type_big_34</key>
    <string>家具</string>
    <key>type_big_35</key>
    <string>通讯</string>
    <key>type_big_36</key>
    <string>人情</string>
    <key>type_big_37</key>
    <string>食材</string>
    <key>type_big_38</key>
    <string>狗熊</string>
    <key>type_big_39</key>
    <string>金矿</string>
    <key>type_big_40</key>
    <string>钻石</string>
    <key>type_big_41</key>
    <string>礼物</string>
    <key>type_big_42</key>
    <string>要钱</string>
    <key>type_big_43</key>
    <string>健身</string>
    <key>type_big_44</key>
    <string>鲜花</string>
    <key>type_big_45</key>
    <string>美元</string>
    <key>type_big_46</key>
    <string>票子</string>
    <key>type_big_47</key>
    <string>微信</string>
    <key>type_big_48</key>
    <string>支付宝</string>
</dict>
</plist>
